NEXT_PUBLIC_APPWRITE_ENDPOINT=https://<REGION>.cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=

APPWRITE_SSR_API_KEY=
APPWRITE_SERVER_API_KEY=
APPWRITE_BOOTSTRAP_API_KEY=

APPWRITE_DATA_ENCRYPTION_KEY_V1=
APPWRITE_FILE_ENCRYPTION_KEY_V1=
APPWRITE_LOOKUP_HMAC_KEY_V1=
APPWRITE_ACTIVE_ENCRYPTION_KEY_VERSION=v1

APPWRITE_DATABASE_ID=umoja

APPWRITE_CMS_PAGES_TABLE_ID=cms_pages
APPWRITE_CMS_REVISIONS_TABLE_ID=cms_revisions
APPWRITE_PROJECT_INTAKES_TABLE_ID=project_intakes
APPWRITE_TALENT_INTAKES_TABLE_ID=talent_intakes
APPWRITE_AUDIT_LOGS_TABLE_ID=audit_logs

APPWRITE_CMS_MEDIA_BUCKET_ID=cms_media
APPWRITE_INTAKE_FILES_BUCKET_ID=intake_files

APP_URL=http://localhost:3000
NEXT_REVALIDATION_SECRET=
